<template>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card border-danger mb-3" v-if="error.length">
          <div class="card-body">
            <p class="card-text text-danger">
              {{ error }}
            </p>
          </div>
        </div>
        <div class="card px-5 py-5" id="form1">
          <div class="form-data">
            <form @submit.prevent="handleLogin">
              <div class="forms-inputs mb-3">
                <label>E-mail:</label>
                <input
                  autocomplete="off"
                  type="text"
                  class="form-control"
                  placeholder="E-mail:"
                  required
                  v-model="email"
                />
              </div>
              <div class="forms-inputs mb-3">
                <label>Senha:</label>
                <input
                  autocomplete="off"
                  type="password"
                  class="form-control"
                  placeholder="Senha:"
                  required
                  v-model="password"
                />
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      error: {},
    };
  },

  methods: {
    async handleLogin() {
      await this.$store
        .dispatch("auth/login", { email: this.email, password: this.password })
        .then((response) => {
          location.href = "/";
        })
        .catch((error) => {
          this.error = error.data.error;
        });
    },
  },
};
</script>

<style>
</style>