<template>
  <ul class="pagination">
    <li :class="['page-item', { disabled: pagination.current_page == 1 }]">
      <a
        href="#"
        class="page-link"
        aria-label="Previous"
        @click.prevent="changePage(1)"
      >
        <span aria-hidden="true">&larr;</span> Pri
      </a>
    </li>
    <li :class="['page-item', { disabled: pagination.current_page <= 1 }]">
      <a
        href="#"
        class="page-link"
        aria-label="Previous"
        @click.prevent="changePage(pagination.current_page - 1)"
        v-if="pagination.current_page > 1"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
      <span class="page-link" v-else>&laquo;</span>
    </li>

    <li
      v-if="pagination.last_page > 1"
      v-for="(page, index) in pagesNumber"
      :class="['page-item', { active: page === pagination.current_page }]"
      :key="index"
    >
      <a href="#" class="page-link" @click.prevent="changePage(page)">
        {{ page }}
      </a>
    </li>

    <li
      :class="[
        'page-item',
        { disabled: pagination.current_page >= pagination.last_page },
      ]"
    >
      <a
        href="#"
        class="page-link"
        aria-label="Next"
        @click.prevent="changePage(pagination.current_page + 1)"
        v-if="pagination.current_page < pagination.last_page"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
      <span class="page-link" v-else>&raquo;</span>
    </li>
    <li
      :class="[
        'page-item',
        { disabled: pagination.current_page == pagination.last_page },
      ]"
    >
      <a
        href="#"
        class="page-link"
        @click.prevent="changePage(pagination.last_page)"
      >
        Últ <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    pagination: {
      type: Object,
      required: true,
    },
    offset: {
      type: Number,
      default: 4,
    },
  },

  computed: {
    pagesNumber() {
      // Verifica se tem itens para paginar, se não tiver retorna o Array vazio
      if (!this.pagination.to) {
        return [];
      }
      // Define a próxima página
      let from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }
      // Define a última opção páginação
      let to = from + this.offset;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }
      // Cria as opções de paginação
      let pagesArray = [];
      for (let page = from; page <= to; page++) {
        pagesArray.push(page);
      }
      // Array montado com as opções de paginação (Número de opções de paginação === offset)
      return pagesArray;
    },
  },

  methods: {
    changePage(page) {
      // Atualiza a pagina atual
      this.pagination.current_page = page;
      // Dispara o evento @paginate do Component Pai
      this.$emit("paginate", page);
    },
  },
};
</script>

<style scoped>
</style>