<template>
  <div class="preloader" v-if="loading">
    <img src="../assets/images/preloader.png" />
  </div>
</template>

<script>
export default {
  computed: {
    loading() {
      return this.$store.state.preloader.loading;
    },
  },
};
</script>

<style scoped>
.preloader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}
.preloader img {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #444a4f;
}
</style>