<template>
  <form @submit.prevent="handleSubmit">
    <div class="form-group mb-3">
      <label for="nameInput">Nome:</label>
      <input
        type="text"
        name="name"
        id="nameInput"
        :class="['form-control', { 'is-invalid': this.error.name }]"
        placeholder="Nome:"
        v-model="form.name"
      />
      <div class="invalid-feedback" v-if="this.error.name">
        {{ this.error.name[0] }}
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="emailInput">E-mail:</label>
      <input
        type="email"
        name="email"
        id="emailInput"
        :class="['form-control', { 'is-invalid': this.error.email }]"
        placeholder="E-mail:"
        v-model="form.email"
      />
      <div class="invalid-feedback" v-if="this.error.email">
        {{ this.error.email[0] }}
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="phoneInput">Telefone:</label>
      <input
        type="text"
        name="phone"
        id="phoneInput"
        :class="['form-control', { 'is-invalid': this.error.phone }]"
        placeholder="Telefone:"
        v-model="form.phone"
      />
      <div class="invalid-feedback" v-if="this.error.phone">
        {{ this.error.phone[0] }}
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      :class="{ disabled: $store.state.preloader.loading }"
    >
      <span class="me-2" v-if="$store.state.preloader.loading">
        Carregando...
      </span>
      <span class="me-2" v-else>Salvar</span>
      <b-icon-save />
    </button>
  </form>
</template>

<script>
import { BIconSave } from "bootstrap-icons-vue";
import { useToast } from "vue-toastification";

const toast = useToast();

export default {
  props: {
    updating: {
      required: false,
      type: Boolean,
      default: false,
    },

    form: {
      required: false,
      type: Object,
      default: () => {
        return {
          id: 0,
          name: '',
          email: '',
          phone: '',
        };
      },
    },
  },

  data() {
    return {
      error: {},
    };
  },

  methods: {
    async handleSubmit() {
      const action = this.updating ? "client/update" : "client/store";

      await this.$store
        .dispatch(action, this.form)
        .then(() => {
          toast.success("Registro salvo com sucesso!");
          this.$router.push({ name: "client" });
        })
        .catch((exception) => {
          toast.error(`Algo deu errado, tente novamente.`);
          this.error = exception.data.error;
        });
    },
  },

  components: {
    BIconSave,
  },
};
</script>

<style>
</style>