<template>
  <form @submit.prevent="handleSubmit">
    <div class="form-group mb-3">
      <label for="titleInput">Título:</label>
      <input
        type="text"
        name="title"
        id="titleInput"
        :class="['form-control', { 'is-invalid': this.error.title }]"
        placeholder="Título:"
        v-model="form.title"
      />
      <div class="invalid-feedback" v-if="this.error.title">
        {{ this.error.title[0] }}
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="priceInput">Preço:</label>
      <input
        type="text"
        name="price"
        id="priceInput"
        :class="['form-control', { 'is-invalid': this.error.price }]"
        placeholder="Preço:"
        v-model="form.price"
      />
      <div class="invalid-feedback" v-if="this.error.price">
        {{ this.error.price[0] }}
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      :class="{ disabled: $store.state.preloader.loading }"
    >
      <span class="me-2" v-if="$store.state.preloader.loading">
        Carregando...
      </span>
      <span class="me-2" v-else>Salvar</span>
      <b-icon-save />
    </button>
  </form>
</template>

<script>
import { BIconSave } from "bootstrap-icons-vue";
import { useToast } from "vue-toastification";

const toast = useToast();

export default {
  props: {
    updating: {
      required: false,
      type: Boolean,
      default: false,
    },

    form: {
      required: false,
      type: Object,
      default: () => {
        return {
          id: 0,
          title: "",
          price: "",
        };
      },
    },
  },

  data() {
    return {
      error: {},
    };
  },

  methods: {
    async handleSubmit() {
      const action = this.updating ? "product/update" : "product/store";

      await this.$store
        .dispatch(action, this.form)
        .then(() => {
          toast.success("Registro salvo com sucesso!");
          this.$router.push({ name: "product" });
        })
        .catch((exception) => {
          toast.error(`Algo deu errado, tente novamente.`);
          this.error = exception.data.error;
        });
    },
  },

  components: {
    BIconSave,
  },
};
</script>

<style>
</style>