<template>
  <div class="row mb-4">
    <h4>Cadastrar Produto</h4>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <product-form />
    </div>
  </div>
</template>

<script>
import ProductForm from "@/components/product/Form.vue";

export default {
  components: {
    ProductForm,
  },
};
</script>

<style>
</style>