<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <router-link class="navbar-brand" to="/">
        <img src="./assets/images/logo.png" width="110" alt="" />
      </router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01" v-if="user">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'opportunity' }"
              >Oportunidades</router-link
            >
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'client' }"
              >Clientes</router-link
            >
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'product' }"
              >Produtos</router-link
            >
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdownMenuRight"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ user.name }}
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownMenuRight"
              >
                <li>
                  <a class="dropdown-item" href="#" @click.prevent="logout"
                    >Sair</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <main class="container">
    <div :class="['p-4 mt-4', { border: user }]">
      <router-view />
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      user: null,
    };
  },

  async created() {
    await this.$store
      .dispatch("auth/me")
      .then((response) => {
        this.user = response;
      })
      .catch((error) => error);
  },

  methods: {
    async logout() {
      await this.$store
        .dispatch("auth/logout")
        .then(() => {
          this.user = null;
          this.$router.push({ name: "login" });
        })
        .catch((error) => error);
    },
  },
};
</script>