<template>
  <div class="row mb-4">
    <h4>Cadastrar Cliente</h4>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <client-form />
    </div>
  </div>
</template>

<script>
import ClientForm from "@/components/client/Form.vue";

export default {
  data() {
    return {};
  },

  methods: {},

  components: {
    ClientForm,
  },
};
</script>