<template>
  <div class="row mb-4">
    <h4>Editar Cliente</h4>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <client-form :form="form" :updating="true" />
    </div>
  </div>
</template>

<script>
import ClientForm from "@/components/client/Form.vue";
import { useToast } from "vue-toastification";

const toast = useToast();

export default {
  props: {
    id: {
      required: true,
    },
  },

  data() {
    return {
      form: {},
    };
  },

  async created() {
    await this.$store
      .dispatch("client/find", this.id)
      .then((response) => {
        this.form = response.data;
      })
      .catch(() => {
        toast.error("Ocorreu um erro ao carregar o registro, tente novamente!");
        this.$router.push({ name: "client" });
      });
  },

  methods: {},

  components: {
    ClientForm,
  },
};
</script>