<template>
  <div class="row mb-4">
    <h4>Clientes</h4>
  </div>
  <div class="table-responsive">
    <div class="d-flex flex-row justify-content-end">
      <router-link
        :to="{ name: 'client.create' }"
        class="btn btn-sm btn-primary"
      >
        <span class="me-2">Cadastrar</span><b-icon-plus-square />
      </router-link>
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telefone</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="$store.state.preloader.loading">
          <th scope="row" colspan="5" class="text-center">Carregando...</th>
        </tr>
        <tr v-for="client in clients.data" :key="client.id" v-else>
          <th scope="row">{{ client.id }}</th>
          <td>{{ client.name }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td class="text-center">
            <router-link
              :to="{ name: 'client.edit', params: { id: client.id } }"
              class="btn btn-sm text-primary m-1"
            >
              <b-icon-pencil-square />
            </router-link>
            <a
              href="#"
              class="btn btn-sm text-danger m-1"
              @click.prevent="confirmRemove(client.id)"
            >
              <b-icon-trash />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination :pagination="clients" :offset="6" @paginate="load" />
  </div>
  <div id="removeModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cuidado!</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja remover o registro?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="remove(idToRemove)"
          >
            Remover
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  BIconPlusSquare,
  BIconPencilSquare,
  BIconTrash,
} from "bootstrap-icons-vue";

import * as Bootstrap from "bootstrap";
import { useToast } from "vue-toastification";

import Pagination from "@/components/shared/Pagination.vue";

const toast = useToast();
const { Modal } = Bootstrap;

export default {
  data() {
    return {
      idToRemove: 0,
      modalRemove: {},
    };
  },

  created() {
    this.load(1);
  },

  methods: {
    async load(page) {
      await this.$store.dispatch("client/load", { ...this.params, page });
    },

    confirmRemove(id) {
      this.modalRemove = new Modal(document.getElementById("removeModal"));
      this.idToRemove = id;
      this.modalRemove.show();
    },

    async remove() {
      await this.$store
        .dispatch("client/remove", this.idToRemove)
        .then(() => {
          this.idToRemove = 0;
        })
        .catch((errors) => {
          if (typeof errors.data.error === "string") {
            toast.error(errors.data.error);
            return;
          }

          toast.error("Ocorreu um erro ao remover o registro, tente novamente!");
        })
        .finally(() => {
          this.modalRemove.hide();
          this.load(1);
        });
    },
  },

  computed: {
    clients() {
      return this.$store.state.client.items;
    },

    params() {
      return {
        page: this.clients.current_page,
      };
    },
  },

  components: {
    BIconPlusSquare,
    BIconPencilSquare,
    BIconTrash,
    Pagination,
  },
};
</script>