<template>
  <form @submit.prevent="handleSubmit">
    <div class="form-group mb-3">
      <label for="clientInput">Cliente:</label>
      <select
        name="client"
        id="clientInput"
        :class="['form-select', { 'is-invalid': this.error.client }]"
        v-model="form.client"
      >
        <option value="">Selecione:</option>
        <option
          v-for="client in clients"
          :key="client.id"
          :value="client.id"
          v-if="clients.length"
        >
          {{ client.name }}
        </option>
      </select>
      <div class="invalid-feedback" v-if="this.error.client">
        {{ this.error.client[0] }}
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="statusInput">Status:</label>
      <select
        name="status"
        id="statusInput"
        :class="['form-select', { 'is-invalid': this.error.status }]"
        v-model="form.status"
      >
        <option>Em aberto</option>
        <option>Aprovada</option>
        <option>Recusada</option>
        <option>Perdida</option>
        <option>Vencida</option>
      </select>
      <div class="invalid-feedback" v-if="this.error.status">
        {{ this.error.status[0] }}
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="productInput">Produto:</label>
      <div class="input-group">
        <select
          name="products"
          id="productInput"
          :class="['form-select', { 'is-invalid': this.error.products }]"
          v-model="selected"
        >
          <option value="">Selecione:</option>
          <option
            v-for="product in products"
            :key="product.id"
            :value="product.id"
            v-if="products.length"
          >
            {{ product.title }}
          </option>
        </select>
        <button
          class="btn btn-primary"
          type="button"
          id="button-addon2"
          @click.prevent="addProduct"
        >
          <b-icon-plus />
        </button>
        <div class="invalid-feedback" v-if="this.error.products">
          {{ this.error.products[0] }}
        </div>
      </div>
    </div>

    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Preço (R$)</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(product, index) in this.form.products"
          :key="product"
          v-if="products.length"
        >
          <td>{{ products[product - 1].title }}</td>
          <td>{{ products[product - 1].price }}</td>
          <td>
            <button
              class="btn btn-sm text-danger"
              @click.prevent="removeProduct(index)"
            >
              <b-icon-trash-2-fill />
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button
      type="submit"
      class="btn btn-success"
      :class="{ disabled: $store.state.preloader.loading }"
    >
      <span class="me-2" v-if="$store.state.preloader.loading">
        Carregando...
      </span>
      <span class="me-2" v-else>Salvar</span>
      <b-icon-save />
    </button>
  </form>
</template>

<script>
import { BIconSave, BIconPlus, BIconTrash2Fill } from "bootstrap-icons-vue";
import { useToast } from "vue-toastification";

const toast = useToast();

export default {
  props: {
    updating: {
      required: false,
      type: Boolean,
      default: false,
    },
    form: {
      required: false,
      type: Object,
      default: () => {
        return {
          user: 1,
          client: "",
          status: "Em aberto",
          products: [],
        };
      },
    },
  },

  data() {
    return {
      selected: "",
      error: {},
    };
  },

  created() {
    this.$store.dispatch("client/load", { paginate: "false" });
    this.$store.dispatch("product/load", { paginate: "false" });
  },

  methods: {
    async handleSubmit() {
      const action = this.updating ? "opportunity/update" : "opportunity/store";

      await this.$store
        .dispatch(action, this.form)
        .then(() => {
          toast.success("Registro salvo com sucesso!");
          this.$router.push({ name: "opportunity" });
        })
        .catch((exception) => {
          toast.error(`Algo deu errado, tente novamente.`);
          this.error = exception.data.error;
        });
    },

    addProduct() {
      this.form.products.push(this.selected);
      this.selected = "";
    },

    removeProduct(index) {
      this.form.products.splice(index, 1);
    },
  },

  computed: {
    clients() {
      return this.$store.state.client.items;
    },

    products() {
      return this.$store.state.product.items;
    },
  },

  components: {
    BIconSave,
    BIconPlus,
    BIconTrash2Fill,
  },
};
</script>

<style>
</style>