<template>
  <div class="row mb-4">
    <h4>Cadastrar Oportunidade</h4>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <opportunity-form />
    </div>
  </div>
</template>

<script>
import OpportunityForm from "@/components/opportunity/Form.vue";

export default {
  components: {
    OpportunityForm
  }
}
</script>

<style>
</style>