<template>
  <div class="row mb-4">
    <h4>Cadastrar Oportunidade</h4>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <opportunity-form :form="form" :updating="true" />
    </div>
  </div>
</template>

<script>
import OpportunityForm from "@/components/opportunity/Form.vue";
import { useToast } from "vue-toastification";

const toast = useToast();

export default {
  props: {
    id: {
      required: true,
    },
  },

  data() {
    return {
      form: {},
    };
  },

  async created() {
    await this.$store
      .dispatch("opportunity/find", this.id)
      .then((response) => {
        let products = [];

        response.data.products.map((product) => {
          products.push(product.id);
        });

        this.form = {
          id: response.data.id,
          user: response.data.user.id,
          client: response.data.client.id,
          status: response.data.status,
          products,
        };

        console.log(this.form)
      })
      .catch(() => {
        toast.error("Ocorreu um erro ao carregar o registro, tente novamente!");
        this.$router.push({ name: "opportunity" });
      });
  },

  components: {
    OpportunityForm,
  },
};
</script>

<style>
</style>