<template>
  <div class="row mb-4">
    <div class="col-md-6">
      <h4>Oportunidades</h4>
    </div>
    <div class="col-md-6">
      <form @submit.prevent="handleFilter">
        <div class="d-flex flex-row justify-content-end align-items-center">
          <div class="form-group px-1">
            <select
              name="seller"
              id="sellerInput"
              class="form-select form-select-sm"
              v-model="filter.user"
            >
              <option value="">TODOS OS VENDEDORES</option>
              <option v-for="user in users" :key="user.id" :value="user.id">
                {{ user.name }}
              </option>
            </select>
          </div>
          <div class="form-group px-1">
            <input
              name="date"
              type="date"
              class="form-control form-control-sm"
              placeholder="DD/MM/AAAA"
              v-model="filter.date"
            />
          </div>
          <button type="submit" class="btn btn-sm btn-primary">
            <span class="me-2">Filtrar</span><b-icon-filter />
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="table-responsive">
    <div class="d-flex flex-row justify-content-end">
      <router-link
        :to="{ name: 'opportunity.create' }"
        class="btn btn-sm btn-primary"
      >
        <span class="me-2">Cadastrar</span><b-icon-plus-square />
      </router-link>
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Vendedor</th>
          <th scope="col">Cliente</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="$store.state.preloader.loading">
          <th scope="row" colspan="5" class="text-center">Carregando...</th>
        </tr>
        <tr
          v-for="opportunity in opportunities.data"
          :key="opportunity.id"
          v-else
        >
          <th scope="row">{{ opportunity.id }}</th>
          <td>{{ opportunity.user.name }}</td>
          <td>{{ opportunity.client.name }}</td>
          <td class="text-center">
            <span
              :class="['badge', `bg-${handleStatusColor(opportunity.status)}`]"
              >{{ opportunity.status }}</span
            >
          </td>
          <td class="text-center">
            <router-link
              :to="{ name: 'opportunity.edit', params: { id: opportunity.id } }"
              class="btn btn-sm text-primary m-1"
            >
              <b-icon-pencil-square />
            </router-link>
            <a
              href="#"
              class="btn btn-sm text-danger m-1"
              @click.prevent="confirmRemove(opportunity.id)"
            >
              <b-icon-trash />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination :pagination="opportunities" :offset="6" @paginate="load" />
  </div>
  <div id="removeModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cuidado!</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja remover o registro?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="remove(idToRemove)"
          >
            Remover
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  BIconPlusSquare,
  BIconPencilSquare,
  BIconTrash,
  BIconFilter,
} from "bootstrap-icons-vue";

import * as Bootstrap from "bootstrap";
import { useToast } from "vue-toastification";

import Pagination from "@/components/shared/Pagination.vue";

const toast = useToast();
const { Modal } = Bootstrap;

export default {
  data() {
    return {
      idToRemove: 0,
      modalRemove: {},
      filter: {
        user: "",
        date: "",
      },
    };
  },

  async created() {
    this.load(1);
    await this.$store.dispatch("user/load");
  },

  methods: {
    async load(page) {
      await this.$store.dispatch("opportunity/load", { ...this.params, page });
    },

    handleFilter() {
      this.load(1);
    },

    confirmRemove(id) {
      this.modalRemove = new Modal(document.getElementById("removeModal"));
      this.idToRemove = id;
      this.modalRemove.show();
    },

    async remove() {
      await this.$store
        .dispatch("opportunity/remove", this.idToRemove)
        .then(() => {
          this.idToRemove = 0;
        })
        .catch((errors) => {
          if (typeof errors.data.error === "string") {
            toast.error(errors.data.error);
            return;
          }

          toast.error(
            "Ocorreu um erro ao remover o registro, tente novamente!"
          );
        })
        .finally(() => {
          this.modalRemove.hide();
          this.load(1);
        });
    },

    handleStatusColor(status) {
      switch (status.toLowerCase()) {
        case "em aberto":
          return "primary";
        case "aprovada":
          return "success";
        case "recusada":
          return "danger";
        case "perdida":
          return "warning";
        case "vencida":
          return "secondary";
        default:
          return "default";
      }
    },
  },

  computed: {
    opportunities() {
      return this.$store.state.opportunity.items;
    },

    users() {
      return this.$store.state.user.items;
    },

    params() {
      return {
        page: this.opportunities.current_page,
        user_id: this.filter.user,
        date: this.filter.date,
      };
    },
  },

  components: {
    BIconPlusSquare,
    BIconPencilSquare,
    BIconTrash,
    BIconFilter,
    Pagination,
  },
};
</script>